body {
  box-sizing: border-box;
  margin: 0 15px;
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
  font-family: 'Roboto', sans-serif;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  
}

